<?xml version='1.0' encoding='utf-8'?>
<cropControl version="2" modVersion="2.0.3.5">
    <settings>
        <reseedCandidateWeights leaveCultivated="1" />
    </settings>
    <fruits>
        <fruit name="BARLEY" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="BEETROOT" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="CANOLA" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="CARROT" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="COTTON" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="GRAPE" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="GRASS" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="GREENBEAN" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="MAIZE" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="MEADOW" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="OAT" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="OILSEEDRADISH" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="OLIVE" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="PARSNIP" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="PEA" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="POPLAR" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="POTATO" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="RICE" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="RICELONGGRAIN" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="SORGHUM" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="SOYBEAN" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="SPINACH" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="SUGARBEET" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="SUGARCANE" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="SUNFLOWER" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
        <fruit name="WHEAT" enabled="true" npcAllowed="mapDefault" npcMaxHa="0.000000" resetNpcFields="true" reseedWeight="5" />
    </fruits>
</cropControl>